Repository AnDev77/Schedule-Manager, pull requests merged in 2024-10, with the labels that each got.

#2 Chore: Vite 대신 Next.js 사용
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/app/favicon.ico
  frontend/app/fonts/GeistMonoVF.woff
  frontend/app/fonts/GeistVF.woff
  frontend/app/globals.css
  frontend/app/layout.js
  frontend/app/page.js
  frontend/app/page.module.css
  frontend/eslint.config.js
  frontend/index.html
  frontend/jsconfig.json
  frontend/next.config.mjs
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/vite.config.js
  package-lock.json
Labels: enhancement

#4 Chore: backend 복구 #1
  backend/src/app.js
Labels: backend

#5 Design: Wanted Sans 폰트 적용
  frontend/app/fonts/GeistMonoVF.woff
  frontend/app/fonts/GeistVF.woff
  frontend/app/fonts/WantedSansVariable.woff2
  frontend/app/globals.css
  frontend/app/layout.js
Labels: enhancement, frontend

#6 Feat: 프로젝트 구조 수정, 필요 페이지 추가
  frontend/app/layout.js
  frontend/jsconfig.json
  frontend/src/app/calendar/[id]/page.jsx
  frontend/src/app/calendar/new/page.jsx
  frontend/src/app/calendar/page.jsx
  frontend/src/app/favicon.ico
  frontend/src/app/layout.jsx
  frontend/src/app/login/page.jsx
  frontend/src/app/page.jsx
  frontend/src/app/register/page.jsx
  frontend/src/app/user/page.jsx
  frontend/src/fonts/WantedSansVariable.woff2
  frontend/src/styles/globals.css
  frontend/src/styles/page.module.css
Labels: enhancement, frontend

#8 Design: Paperlogy, 어비 찌바체 적용
  frontend/src/app/layout.jsx
  frontend/src/fonts/Paperlogy/Paperlogy-1Thin.woff2
  frontend/src/fonts/Paperlogy/Paperlogy-2ExtraLight.woff2
  frontend/src/fonts/Paperlogy/Paperlogy-3Light.woff2
  frontend/src/fonts/Paperlogy/Paperlogy-4Regular.woff2
  frontend/src/fonts/Paperlogy/Paperlogy-5Medium.woff2
  frontend/src/fonts/Paperlogy/Paperlogy-6SemiBold.woff2
  frontend/src/fonts/Paperlogy/Paperlogy-7Bold.woff2
  frontend/src/fonts/Paperlogy/Paperlogy-8ExtraBold.woff2
  frontend/src/fonts/Paperlogy/Paperlogy-9Black.woff2
  frontend/src/fonts/UhBeeZZIBA-Regular.woff2
  frontend/src/fonts/WantedSansVariable.woff2
  frontend/src/fonts/index.js
  frontend/src/styles/globals.css
Labels: enhancement, frontend

#13 Feat: 로그인 페이지 추가
  frontend/src/app/login/layout.jsx
  frontend/src/app/login/page.jsx
  frontend/src/components/common/title.jsx
  frontend/src/components/layouts/user-layout.jsx
  frontend/src/styles/common/big-button.module.css
  frontend/src/styles/common/title.module.css
  frontend/src/styles/layouts/user-layout.module.css
  frontend/src/styles/pages/login.module.css
Labels: enhancement, frontend

#11 Chore: backend 폴더 구조 구현
  backend/package.json
  backend/src/app.js
  backend/src/controller/NotificationController.js
  backend/src/controller/ScheduleController.js
  backend/src/controller/TeamController.js
  backend/src/controller/TeamMemberController.js
  backend/src/controller/UserController.js
  backend/src/mariadb.js
  backend/src/routes/notifications.js
  backend/src/routes/schedules.js
  backend/src/routes/team_members.js
  backend/src/routes/teams.js
  backend/src/routes/users.js
  package-lock.json
Labels: backend

#15 Fix: title 한글로 수정
  frontend/src/app/find/layout.jsx
  frontend/src/app/login/layout.jsx
  frontend/src/app/register/layout.jsx
Labels: frontend

#17 ADD: SQL 알림 테이블 추가
  table.sql
Labels: backend

#18 Feat: user.js, UserController 틀 구현
  backend/src/controller/UserController.js
  backend/src/routes/users.js
Labels: backend

#19 Feat: FullCalender 사용해 캘린더 구현
  frontend/package.json
  frontend/src/app/calendar/page.jsx
  package-lock.json
Labels: frontend

#20 Feat: 날짜 클릭 이벤트 핸들링
  frontend/package.json
  frontend/src/app/calendar/page.jsx
  package-lock.json
Labels: frontend

#21 Feat: 헤더 구현
  frontend/package.json
  frontend/src/app/calendar/layout.jsx
  frontend/src/app/calendar/page.jsx
  frontend/src/components/calendar/header.jsx
  frontend/src/styles/calendar/header.module.css
  package-lock.json
Labels: frontend

#23 Feat: react-hook-form 사용
  frontend/package.json
  frontend/src/app/find/changePassword/page.jsx
  frontend/src/app/find/page.jsx
  frontend/src/app/login/page.jsx
  frontend/src/app/register/page.jsx
  frontend/src/components/common/input-box.jsx
  frontend/src/styles/layouts/user-layout.module.css
  frontend/src/styles/pages/login.module.css
  package-lock.json
Labels: frontend

#26 Feat: 알림 기능 구현
  backend/package.json
  backend/src/controller/NotificationController.js
  backend/src/routes/notifications.js
  package-lock.json
  package.json
Labels: backend

#27 Feat: SWR 라이브러리 사용
  frontend/package.json
  frontend/src/app/page.jsx
  frontend/src/components/common/loading-spinner.jsx
  frontend/src/data/use-user.js
  frontend/src/libs/api-fetcher.js
  frontend/src/libs/jwt.js
  frontend/src/styles/common/loading-spinner.module.css
  package-lock.json
Labels: frontend

#28 Feat: 프론트 통신을 위한 cors 세팅
  backend/package.json
  backend/src/app.js
  package-lock.json
Labels: backend

#30 Feat: 로그인 페이지 로직 구현
  frontend/src/app/login/page.jsx
Labels: frontend

#31 Feat: 회원가입 페이지 로직 구현
  frontend/src/app/register/page.jsx
Labels: frontend

#25 Feat: 회원정보 페이지 구현
  frontend/src/app/user/layout.jsx
  frontend/src/app/user/page.jsx
  frontend/src/components/calendar/header.jsx
  frontend/src/styles/pages/user.module.css
Labels: frontend

#33 Fix: 알람 전송 수정
  backend/src/controller/NotificationController.js
  backend/src/email.js
Labels: backend

#35 Fix: SQL 수정 및 알람 구조 변경
  backend/src/controller/ScheduleController.js
  table.sql
Labels: backend

#37 Feat: 아이디 찾기 로직 구현
  frontend/src/app/find/page.jsx
Labels: frontend

#39 Feat: 헤더 Link 추가
  frontend/src/components/calendar/header.jsx
Labels: frontend

#38 Feat: 비밀번호 변경 로직 구현
  frontend/src/app/find/changePassword/page.jsx
Labels: frontend

#40 Remove: /calendar/new 제거
  frontend/src/app/calendar/new/page.jsx
  frontend/src/app/calendar/page.jsx
Labels: frontend

#42 Remove: 필요없는 파일 제거
  frontend/src/data/use-user-swr.js
  frontend/src/libs/api-fetcher.js
Labels: frontend

#43 Feat: 메인 캘린더 로직 구현
  frontend/src/app/calendar/page.jsx
  frontend/src/app/page.jsx
  frontend/src/data/use-schedule.js
  frontend/src/data/use-user.js
  frontend/src/libs/url.js
Labels: frontend

#44 Fix: events에 들어갈 데이터 변환
  frontend/src/app/calendar/page.jsx
Labels: frontend

#47 Design: 캘린더 디자인 일부 수정
  frontend/src/app/calendar/page.jsx
  frontend/src/styles/calendar/calendar-overwrite.css
Labels: frontend

#48 Fix: 유저 및 알람 res 수정
  backend/src/controller/NotificationController.js
  backend/src/controller/UserController.js
Labels: backend

#49 Add: API 명세서 작성(User, Notification)
  API.md
Labels: backend

#50 Add: 알람 수정 추가
  API.md
Labels: backend

#52 Feat: 버그 수정 및 커맨드 추가
  README.md
  frontend/package.json
  frontend/src/app/calendar/[id]/page.jsx
  package.json
Labels: frontend
